body{
  text-align: center;
}
ul li {
  list-style: none;
  margin: 10px;
}

body header nav{
  display: flex;
  justify-content: space-between;
}

.menu{
}

.entry{
  display: flex;
  justify-content: center;
  margin: 250px auto;
}

.entry-button{
  padding: 50px;
  text-decoration: bold ;
  background-color: blue;
}

footer ul, .menu ul {
  display: flex;
  flex-flow: row;
}

footer{
  display: flex;
  justify-content: space-between;
}

.sign-form{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 50px 500px;
}

.sign-form input{
  display: flex;
  padding: 20px;
  justify-content: start;
}

button{
  padding: 10px;
  margin: 20px 100px 200px 100px;

}